

﻿<a style="margin-bottom:10px;" href="/TeacherAjaxPage/New">Add Teacher</a>

<h2>AJAX List + Delete, Type to search!</h2>
<div>
	<input type="text" name="SearchKey" id="SearchKey" onkeyup="_ListTeachers(this);" />
</div>

<div id="TeacherResults"></div>



<script>

	// wrapper function that uses 300ms timer
	// http request not sent on every key stroke
	function _ListTeachers(d){
		console.log('waiting..');
		if (d.timer) clearTimeout(d.timer);
		d.timer = setTimeout(ListTeachers(d),300);
	}

	// ajax list
	function ListTeachers(d) {

		console.log('sending..');
		var URL = "/api/Teacher/ListTeachers?SearchKey="+d.value;

		var rq = new XMLHttpRequest();

		var TeacherResults = document.getElementById('TeacherResults');
		TeacherResults.innerHTML = ""; //clear previous results

		rq.open("GET", URL, true);
		rq.setRequestHeader("Content-Type", "application/json");
		rq.onreadystatechange = function () {
			//ready state should be 4 AND status should be 200
			if (rq.readyState == 4 && rq.status == 200) {
				//request is successful and the request is finished
				//console.log(rq.responseText);
				var Teachers = JSON.parse(rq.responseText);
				for (var i = 0; i < Teachers.length; i++)
				{
					//debugging line - very useful!
					//console.log(Teachers[i]);

					//build Document Object Model
					var row = document.createElement('div');
					// link to see Teacher
					var link = document.createElement('a');
					link.href = "/TeacherPage/Show/"+Teachers[i].teacherId;
					link.style.marginRight = "10px";
					link.style.display="inline-block";

					//button to delete teacher
					var button = document.createElement('button');
					button.teacherId = Teachers[i].teacherId;
					button.addEventListener("click", function () {
						DeleteTeacher(this);
					});
					button.innerHTML = "Delete";
					button.style.color = "red";
					button.style.backgroundColor = "white";
					button.style.borderColor = "black";
					link.innerHTML = Teachers[i].teacherFName + " " + Teachers[i].teacherLName;
					row.appendChild(link);
					row.appendChild(button);
					TeacherResults.appendChild(row);

				}
			}
		}
		//GET information sent through the .send() method
		rq.send();
	}


	function Teacher(b) {
		var id = b.teacherId;
		if (parseInt(id) != id) return;
		if (!confirm(`Are you sure you want to delete Teacher # ${id}?`)) return;

		var URL = "/api/Teacher/DeleteTeacher/"+id;

		var rq = new XMLHttpRequest();
		// where is this request sent to?
		// is the method GET or POST?
		// what should we do with the response

		rq.open("DELETE", URL, true);
		rq.setRequestHeader("Content-Type", "application/json");
		rq.onreadystatechange = function () {
			//ready state should be 4 AND status should be 200
			if (rq.readyState == 4 && rq.status == 200) {
				//request is successful and the request is finished

				alert('Deleted successful');
				ListTeachers(document.getElementById('SearchKey'));

			}

		}
		//POST information sent through the .send() method
		rq.send();
	}

</script>