@model Cumulative_1.Models.Course

<h1>Course all information</h1>

<nav>
    <a href="/CoursePage/List">Back to List</a>
    <a class="alert-warning" href="/CoursePage/DeleteConfirm/@Model.CourseId">Delete</a>
    <a href="/CoursePage/Edit/@Model.CourseId">Edit</a>
    <h1>@Model.CourseId @Model.CourseCode</h1>
    <p>@Model.CourseName</p>
</nav>
