
@model Cumulative_1.Models.Teacher

<h1>Teacher all information</h1>


<h1>@Model.TeacherFName @Model.TeacherLName</h1>
<a href="/TeacherPage/List">Back to List</a> <a class="alert-warning" href="/TeacherPage/DeleteConfirm/@Model.TeacherId">Delete</a>
<p>@Model.TeacherHireDate.ToString("yyyy-M-d")</p>
<p>@Model.TeacherSalary</p>
